# Ignore all
*

# Unignore all with extensions
!*/
!*.*
!Makefile
!LICENSE
!Vagrantfile

.DS_Store
*.out
.vagrant
*.dSYM/
tmp/
bin/
build/
*.dylib
test_wip.nim
profile_results.txt
callgrind.out*
scratch*